.container {
  background-image: url("../assets/Usiku.jpeg");
  color: white;

}
h1,
p {
  font-family: "Roboto Condensed", sans-serif;
}
.footer {
  padding: 4px;
  display: inline;
  font-size: 45px;
  color: rgb(27, 11, 245);
}
.footer :hover {
  color: chocolate;
}
.container img {
  position: relative;
  top: 0.5vh;
  left: 19vw;
}
.footer {
  text-align: center;
}
