<h5> {{quote.name}}</h5>
<p>
  Author: {{quote.description}}
</p>
<!-- <p>Date: {{quote.new date}}</p> -->
<p>Uploaded on : {{quote.completeDate|date|uppercase}}</p>
<p>Downvote: {{numberOfDownVotes}}</p>
<p>Upvote: {{numberOfUpVotes}}</p>
<button (click)="downvoteButtonClick()" class="btn d-inline btn-outline-danger">Downvote</button>
<button (click)="upvoteButtonClick()" class="btn d-inline btn-outline-success">Upvote</button>
<button (click)='quoteDelete(true)' class="btn d-inline btn-outline-secondary">Delete Quote</button>

<!-- 
  quote
Whatever our souls are made of, his and mine are the same. - Emily Brontë
Love is composed of a single soul inhabiting two bodies. - Aristotle

 Funny Quote
Vote for the man who promises least; he will be the least disappointing.
Bernard Baruch

 Nature Quote
Trees love to toss and sway; they make such happy noises.
Emily Carr

Art Quote
Religion and art spring from the same root and are close kin. Economics and art are strangers.
Nathaniel Hawthorne   -->