<h5> {{quote.name}}</h5>



<p>
  Author: {{quote.author}}
</p>
<p>Downvote: {{numberOfDownVotes}}</p>
<p>Upvote: {{numberOfUpVotes}}</p>
<button (click)="downvoteButtonClick()"class="bg-info">Downvote</button>
<button (click)="upvoteButtonClick()">Upvote</button>

<button (click)='quoteDelete(true)' class="btn d-inline btn-outline-secondary">Delete Quote</button><br><br>
<!-- <button (click)='likeQuo()' id="display" class="btn btn-outline-success">Upvote <i class="fa fa-thumbs-up"
  style="font-size:36px"></i></button><span id="lk"> 0</span>
  <button id="dislike" class="btn btn-outline-success">Dislike <i class="fa fa-thumbs-down"
    style="font-size:36px"></i></button><span id="dlk"> 0</span> -->




<!-- 
  quote
Whatever our souls are made of, his and mine are the same. - Emily Brontë
Love is composed of a single soul inhabiting two bodies. - Aristotle

 Funny Quote
Vote for the man who promises least; he will be the least disappointing.
Bernard Baruch

 Nature Quote
Trees love to toss and sway; they make such happy noises.
Emily Carr

Art Quote
Religion and art spring from the same root and are close kin. Economics and art are strangers.
Nathaniel Hawthorne   -->