 
  <div class="card-body ">

    <p>
      Author:{{quote.author}}
    </p>
    <p>
      Publisher:{{quote.name}}
    </p>
    <p>
      Upvotes:{{quote.upvotes}}
    </p>
    <p>
      Downvotes:{{quote.downvotes}}
    </p>
    <p>
       Date {{quote.completeDate|date}}
      </p>

  </div>

































<!-- <h5> {{quote.name}}</h5>



<p>
   Author: {{quote.author}}
</p>
<app-details [quote]="quote"></app-details>
<button class="btn btn-info" (click)="upvote(i)">Upvote </button>
<button class="btn btn-info" (click)="downvote(i)">Downvote </button>
uploaded on {{quote.completeDate|date|uppercase}}<br>
<button (click)='quoteDelete(true)' class="btn d-inline btn-outline-secondary">Delete Quote</button><br><br>
<button (click)='quoteDelete(true)' class="btn btn-outline-success">Upvote</button><br><br>
<button (click)='quoteDelete(true)' class="btn btn-outline-danger">Downvote</button><br>





  quote
Whatever our souls are made of, his and mine are the same. - Emily Brontë
Love is composed of a single soul inhabiting two bodies. - Aristotle

 Funny Quote
Vote for the man who promises least; he will be the least disappointing.
Bernard Baruch

 Nature Quote
Trees love to toss and sway; they make such happy noises.
Emily Carr

Art Quote
Religion and art spring from the same root and are close kin. Economics and art are strangers.
Nathaniel Hawthorne   -->