<div class="container-fluid ">
  <h2 class="text-center">Create a new Quote</h2>
  <hr>
  <form (ngSubmit)="submitQuote(); quoteForm.reset();" #quoteForm="ngForm">
    <div class="form-group">
      <label for="Author">Author</label>
      <input type="text" required class="form-control" id="Author" [(ngModel)]="newQuote.Author"
        style="background-color: transparent; color: white;" name="Author">
    </div>
    <div class="form-group">

      <label for="identity">Type of Quote</label>
      <input type="text" required class="form-control" id="identity" [(ngModel)]="newQuote.identity"
        style="background-color: transparent; color: white;" name="identity">
    </div>
    <div class="form-group">
      <label for="name">Quote</label>
      <textarea class="form-control" id="name" [(ngModel)]="newQuote.name"
        style="background-color: transparent; color: white;" rows="4" name="name" required></textarea>
    </div>
    <div class="form-group">
      <label for="complete"> Date </label><br>
      <input type='date' style="background-color: green; color: white;" id="complete" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Quote</button>
  </form>
</div>